<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.hoxnet.sciencefriday" android:versionCode="1"
	android:versionName="1.0">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<application android:label="@string/app_name" android:icon="@drawable/scifriicon">
		<activity android:name=".SciFriMain" android:label="@string/app_name"
			android:theme="@android:style/Theme.Light.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

    
    <activity android:name=".SciFriMediaPlayer" android:theme="@android:style/Theme.NoTitleBar">
      <intent-filter>
        <category android:name="android.intent.category.LAUNCHER"></category>
      </intent-filter>
    </activity>
    <activity android:name=".SciFriPlayer" android:theme="@android:style/Theme.NoTitleBar">
      <intent-filter>
        <category android:name="android.intent.category.LAUNCHER"></category>
      </intent-filter>
    </activity>
	<service android:name=".SciFriMediaService"><intent-filter><action android:name="com.hoxnet.sciencefriday.REMOTE_SERVICE"></action>
<action android:name="com.hoxnet.sciencefriday.IMediaService"></action>
<action android:name="com.hoxnet.sciencefriday.IMediaSec"></action>
</intent-filter>
</service>
<activity android:theme="@android:style/Theme.Light.NoTitleBar" android:name=".AboutSciFri"><intent-filter><category android:name="android.intent.category.LAUNCHER"></category>
</intent-filter>
</activity>
</application>
	<uses-sdk android:minSdkVersion="4" />

	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
</manifest> 
